h1 {
  font-size: 50px;
  color: #fff;
  margin-left: 10px;
}
button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #e8dede;
  border: none;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}
