body {
  background-color: #111;
}

.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: lightgreen;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
