@import "tailwindcss";

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  font-size: 1.5rem;
} */
/* button {
  padding: 13px 26px;
  font-size: 1.3rem;
  display: block;
  margin-left: 100px;
  margin-top: 30px;
} */
