body {
  background-color: #222;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgreen;
  padding: 15px 25px;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
