@import "tailwindcss";

body{
  background-color: #222;
}
h1{
  font-size: 50px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  font-style: bold;
}